body {
  /*background-image: url("download.jpeg");*/
}

header h1 {
  font-size: 7em;
  text-align: center;
  text-decoration: overline;
  color: #76061C;
  font-family: fantasy;
  margin-bottom: 0px;
}

header h2 {
  color: #0E0A84;
  margin-right: 20px;
  text-align: center;
  font-family: serif;
}

header h3 {
  font-size: 1em;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  color: yellow;
}

header h4 {
  font-size: 1em;
  padding: 5px;
  text-align: center;
  font-family: fantasy;
}

section header img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 100px;
  width: 100px;
}

header img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  border: 0px;
  height: 200px;
  width: 300px;
}

#intro {
  text-align: center;
  font-size: 1.1em;
}

#top-bar {
  display: block;
  box-shadow: 4em;
  background-image: url("robford.jpeg");
}

#widgets {
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  min-width: 22%;
  text-align: center;
}

.widget-text {
  text-align: center;
  font-size: 0.8em;
}

.widget-section {
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  border: 10px;
  background-color: #2E2D2D;
  width: 250px;
  height: 120px;
}

aside section h4 {
  color: red;
  font-family: fantasy;
}

aside section p {
  padding-top:15px;
}

aside section ul {
  text-align: center;
  padding-left: 12px;
}
